body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  overflow-x: hidden;
}

body, input, p, a, span {
  font-family: Montserrat, Arial, sans-serif;
}

input {
  border: none;
  outline: 0;
}

button {
  border: none;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
}

.hidden {
  display: none;
}

.right {
  float: right;
}

.clear-fix {
  clear: both;
}

.max-width {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.button {
  margin: 20px auto;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 1.2em;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #5FC6C9;
  color: #ffffff;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(95, 198, 201, 0.25);
          box-shadow: 0px 0px 0px 0px rgba(95, 198, 201, 0.25);
  -webkit-transition: box-shadow 0.15s, transform 0.2s;
  -webkit-transition: -webkit-box-shadow 0.15s, -webkit-transform 0.2s;
  transition: -webkit-box-shadow 0.15s, -webkit-transform 0.2s;
  transition: box-shadow 0.15s, transform 0.2s;
  transition: box-shadow 0.15s, transform 0.2s, -webkit-box-shadow 0.15s, -webkit-transform 0.2s;
  -webkit-transform: translate(0, 0%);
  transform: translate(0, 0%);
}

.button:hover {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(23, 21, 34, 0.15);
          box-shadow: 5px 5px 20px 5px rgba(23, 21, 34, 0.15);
  -webkit-transform: translate(0, -20%);
  transform: translate(0, -20%);
}

.button:active {
  -webkit-box-shadow: -5px -5px 10px 0px rgba(95, 198, 201, 0.35);
          box-shadow: -5px -5px 10px 0px rgba(95, 198, 201, 0.35);
  -webkit-transform: translate(0, 0%);
  transform: translate(0, 0%);
}

.invertColorBTN {
  color: #171522;
  background-color: #fff32b;
}

.invertColorBTN:hover {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(23, 21, 34, 0.15);
          box-shadow: 5px 5px 20px 5px rgba(23, 21, 34, 0.15);
  -webkit-transform: translate(0, -20%);
  transform: translate(0, -20%);
}

.invertColorBTN:active {
  -webkit-box-shadow: -5px -5px 10px 0px rgba(255, 243, 43, 0.35);
          box-shadow: -5px -5px 10px 0px rgba(255, 243, 43, 0.35);
  -webkit-transform: translate(0, 0%);
  transform: translate(0, 0%);
}

.centerBTN {
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.centerBTN:hover {
  -webkit-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
}

.centerBTN:active {
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

p {
  margin: 0;
}

.centerTxt {
  text-align: center;
}

h2, h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.articleHeading {
  margin-top: 20px;
}

.leftHeading {
  position: relative;
  font-weight: 700;
  size: 1.5em;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}

.leftHeading::after {
  position: absolute;
  top: 40px;
  content: '';
  display: block;
  width: 50px;
  height: 3px;
}

.centerHeading {
  position: relative;
  font-weight: 700;
  size: .75em;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.centerHeading::after {
  position: absolute;
  left: 50%;
  top: 50px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: '';
  display: block;
  width: 65px;
  height: 3px;
}

.invertColourTxt {
  color: #ffffff;
}

.invertColourTxt::after {
  background: #ffffff;
}

.primaryColourTxt {
  color: #5FC6C9;
}

.primaryColourTxt::after {
  background: #5FC6C9;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
  width: calc(100% - 60px);
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  color: grey;
  margin-bottom: 20px;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='tel']:hover,
input[type='password']:hover {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(23, 21, 34, 0.15);
          box-shadow: 5px 5px 20px 5px rgba(23, 21, 34, 0.15);
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='password']:focus {
  -webkit-box-shadow: 5px 5px 20px 5px rgba(23, 21, 34, 0.15);
          box-shadow: 5px 5px 20px 5px rgba(23, 21, 34, 0.15);
}

.relatedArticles {
  margin-top: 40px;
}

.relatedArticles a {
  font-weight: 700;
  color: #5FC6C9;
}

.categoryNav {
  margin-top: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5em;
}

.categoryNav a {
  padding: 5px 0;
}

.categoryNav .fa {
  color: #5FC6C9;
  margin-right: 10px;
  margin-left: 10px;
}

.photoCredit {
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}

#mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 6;
  -webkit-transition: top .5s;
  transition: top .5s;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.25);
}

#mainHeader .max-width {
  position: relative;
}

#mainHeader #logo {
  position: absolute;
  height: 25px;
  top: 7.5px;
  left: 20px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

#mainHeader .search-close {
  position: relative;
  width: 25px;
  height: 40px;
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

#mainHeader .search-close .searchIn {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2.5px solid #5FC6C9;
  border-radius: 25px;
  outline: 0;
  font-size: 0;
  padding: 0;
  -webkit-transition: width 0.5s, height 0.5s, padding 0.5s;
  transition: width 0.5s, height 0.5s, padding 0.5s;
}

#mainHeader .search-close .searchButton div {
  position: absolute;
  top: 28px;
  right: -16px;
  height: 2.5px;
  width: 16px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #5FC6C9;
  -webkit-transition: top 0.5s, right 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s, right 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s, right 0.5s;
  transition: transform 0.5s, top 0.5s, right 0.5s, -webkit-transform 0.5s;
}

#mainHeader .search-close .searchButton div:nth-child(2) {
  opacity: 0;
}

#mainHeader .search-open {
  position: relative;
  width: 200px;
  height: 40px;
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

#mainHeader .search-open .searchIn {
  cursor: auto;
  width: 155px;
  height: 20px;
  border: 2.5px solid #5FC6C9;
  border-radius: 25px;
  outline: 0;
  font-size: 12px;
  padding: 7.5px 45px 7.5px 15px;
  -webkit-transition: width 0.5s, height 0.5s, padding 0.5s;
  transition: width 0.5s, height 0.5s, padding 0.5s;
}

#mainHeader .search-open .searchButton div {
  position: absolute;
  top: 15px;
  right: -5px;
  height: 2.5px;
  width: 15px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #5FC6C9;
  -webkit-transition: top 0.5s, right 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s, right 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s, right 0.5s;
  transition: transform 0.5s, top 0.5s, right 0.5s, -webkit-transform 0.5s;
}

#mainHeader .search-open .searchButton div:nth-child(1) {
  top: 25px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

#mainHeader .search-open .searchButton div:nth-child(2) {
  position: absolute;
  top: 20px;
  right: -15px;
  height: 30px;
  width: 30px;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}

#subHeader {
  position: fixed;
  top: 60px;
  width: 100%;
  height: 20px;
  background-color: #171522;
  z-index: 5;
  -webkit-transition: top .5s;
  transition: top .5s;
  padding: 15px 0px;
  -webkit-transition: height .3s, top .8s;
  transition: height .3s, top .8s;
}

#subHeader #leftScrollButton, #subHeader #rightScrollButton {
  display: none;
  position: absolute;
  top: 50%;
  height: 100%;
  width: 80px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: transparent;
}

#subHeader #leftScrollButton i, #subHeader #rightScrollButton i {
  font-size: 30px;
  color: #ffffff;
  margin-left: -20px;
  z-index: 3;
  text-align: center;
}

#subHeader #leftScrollButton {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(65%, #171522), color-stop(95%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(90deg, #171522 65%, rgba(0, 0, 0, 0) 95%);
  background-image: -o-linear-gradient(90deg, #171522 65%, rgba(0, 0, 0, 0) 95%);
}

#subHeader #rightScrollButton {
  right: 0;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(65%, #171522), color-stop(95%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(-90deg, #171522 65%, rgba(0, 0, 0, 0) 95%);
  background-image: -o-linear-gradient(-90deg, #171522 65%, rgba(0, 0, 0, 0) 95%);
}

#subHeader #rightScrollButton i {
  margin-left: 20px;
}

#subHeader div {
  position: relative;
}

#subHeader div ul {
  position: absolute;
  list-style: none;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  left: 0;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

#subHeader div ul li {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #5FC6C9;
}

#subHeader div ul li::after {
  margin-top: 7px;
  height: 3px;
  content: '';
  display: block;
  width: 0;
  background: #fff32b;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#subHeader div ul li:hover::after {
  width: 100%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#subHeader div ul li::before {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff32b;
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  top: 115%;
}

#subHeader div ul li:hover::before {
  width: 40%;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#subHeader div .active {
  color: #ffffff;
}

#subHeader:hover {
  height: 30px;
}

#mainContent {
  position: relative;
  width: 100%;
  margin-top: 110px;
  min-height: 85vh;
  z-index: 1;
}

#mainContent .storyThumbsLine {
  position: relative;
  height: 130px;
  margin-bottom: 40px;
}

#mainContent .storyThumbsLine .articleThumbs {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 0;
  margin-left: 0;
  -webkit-transition: left 0.5s, margin-left 0.5s;
  transition: left 0.5s, margin-left 0.5s;
}

#mainContent .storyThumbsLine .articleThumbs .storyItem {
  position: relative;
  margin-right: 2px;
  height: 130px;
  width: 235px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

#mainContent .storyThumbsLine .articleThumbs .storyItem img {
  height: 130px;
}

#mainContent .storyThumbsLine .articleThumbs .storyItem p {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90px;
  text-align: center;
  padding: 20px 0;
  background: rgba(255, 243, 43, 0.65);
  font-weight: 700;
  color: #ffffff;
  text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.75);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#mainContent .storyThumbsLine .articleThumbs .storyItem :hover p {
  opacity: 1;
}

#mainContent .storyThumbsLine nav button {
  position: absolute;
  top: 50%;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #fff32b;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

#mainContent .storyThumbsLine nav button i {
  color: #171522;
  font-size: 20px;
}

#mainContent .storyThumbsLine nav #leftStoryScrollButton {
  left: 15px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.75);
}

#mainContent .storyThumbsLine nav #rightStoryScrollButton {
  right: 15px;
  -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.75);
          box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.75);
}

.homeSection .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeSection .max-width .trending {
  margin-top: 18px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.homeSection .max-width .trending .squareTrending {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 31%;
  margin-bottom: 10px;
  width: calc(50% - 15px);
  margin-right: 15px;
}

.homeSection .max-width .trending .squareTrending img {
  position: absolute;
  width: 100%;
  top: 0;
}

.homeSection .max-width .trending .squareTrending .info {
  position: absolute;
  width: 100%;
  top: 100%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.homeSection .max-width .trending .squareTrending .info .tag {
  background-color: #fff32b;
  font-weight: 600;
  text-transform: lowercase;
  padding: 4px 18px;
  font-size: 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: right;
}

.homeSection .max-width .trending .squareTrending .info p {
  border-left: 5px solid #5FC6C9;
  background: rgba(255, 255, 255, 0.8);
  font-weight: 900;
  text-transform: uppercase;
  width: calc(100% - 36px);
  color: #171522;
  font-size: 14px;
  padding: 10px 18px;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.homeSection .max-width .trending .squareTrending .info .details {
  background: rgba(95, 198, 201, 0.85);
  border: none;
  position: absolute;
  height: 300%;
  color: #171522;
  top: 100%;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
  text-align: center;
  width: calc(100% - 44px);
  padding: 40px 22px;
  font-size: 18px;
}

.homeSection .max-width .trending .squareTrending :hover .info {
  top: 0%;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.homeSection .max-width .trending .squareTrending:nth-child(odd) {
  margin-right: 0;
  width: 50%;
}

.video {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.video video {
  width: 100%;
}

.video i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #5FC6C9;
  font-size: 4em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.advertisements {
  padding: 18px;
}

.bigTrending {
  height: 0;
  overflow: hidden;
  padding-top: 35%;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
}

.bigTrending img {
  width: 100%;
  position: absolute;
  top: 0;
}

.bigTrending .info {
  position: absolute;
  bottom: 0px;
}

.bigTrending .info span {
  background-color: #fff32b;
  font-weight: 600;
  text-transform: lowercase;
  padding: 8px 22px;
}

.bigTrending .info p {
  background: rgba(23, 21, 34, 0.65);
  font-weight: 900;
  text-transform: uppercase;
  width: calc(100% - 1em);
  color: #5FC6C9;
  font-size: 1.5em;
  margin-top: 8px;
  padding: .5em;
}

.categoryRow {
  width: 100%;
  position: relative;
}

.categoryRow h3 {
  padding-left: 1em;
}

.categoryRow .blogsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
  margin-bottom: 30px;
}

.categoryRow .blogsContent .blogItem {
  width: 33%;
  margin-right: 8px;
  position: relative;
}

.categoryRow .blogsContent .blogItem div {
  position: relative;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.categoryRow .blogsContent .blogItem img {
  width: 100%;
}

.categoryRow .blogsContent .blogItem p {
  width: calc(100% - 25px);
  border-left: 5px solid #fff32b;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.categoryRow .blogsContent .blogItem :last-child {
  margin-right: 0px;
}

.categoryRow .blogsContent .blogItem[data-reading] div::after {
  content: "Continue Reading";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 40%);
  padding-top: 40%;
  text-align: center;
  font-weight: 900;
  color: #171522;
  font-size: 20px;
  background-color: rgba(255, 243, 43, 0.75);
}

.categoryRow button {
  margin-top: 20px;
}

.categorySection .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.categorySection .max-width .categoryContent {
  margin: 1.2em;
  margin-top: 2.5em;
  width: calc(100% - 1.2em);
  position: relative;
}

.categorySection .max-width .categoryContent img {
  width: 100%;
}

.categorySection .max-width .categoryContent .bigTrending {
  margin-top: 40px;
}

.categorySection .max-width .advertisements {
  padding: 2em;
}

.skyScraperAd {
  width: 120px;
  height: 600px;
  background-color: #EEE;
  margin-bottom: 2em;
  margin: 2em auto;
}

.squareAds {
  width: 250px;
  height: 250px;
  background-color: #EEE;
  margin-bottom: 2em;
  margin: 2em auto;
}

#articleSocialMedia .socMediaIcon {
  padding: 7px 40px;
  border-radius: 20px;
  background-color: #5FC6C9;
  margin-top: 20px;
  display: inline-block;
}

#articleSocialMedia .socMediaIcon .fa {
  color: #ffffff;
  font-size: 1.5em;
}

.sideBySide {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sideBySide .row {
  width: 100%;
}

#mainPhoto {
  width: 100%;
}

.articleBody {
  margin-top: 20px;
}

#mainFooter {
  width: 100%;
  background-color: #5FC6C9;
  color: #ffffff;
}

#mainFooter p {
  margin-top: 60px;
  margin-bottom: 15px;
}

#mainFooter .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#signUp {
  max-width: 30%;
  padding-top: 40px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.roundedIcon {
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  display: inline-block;
}

.roundedIcon .fa {
  font-size: 2em;
  cursor: pointer;
  color: #5FC6C9;
  text-align: center;
  margin-top: 8px;
}

#footerSocialMedia {
  max-width: 30%;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
}

#footerNav {
  max-width: 30%;
  padding-top: 40px;
  padding-bottom: 15px;
  margin: 0 auto;
  font-weight: 700;
}

#footerNav ul {
  margin-top: 60px;
  list-style: none;
}

#footerNav ul li {
  margin-top: 20px;
  cursor: pointer;
}

#footerNav ul li :nth-child(1) {
  margin-top: 0;
}

#copyrightInfo {
  width: 100%;
  margin: 0;
  text-align: center;
  padding-bottom: 40px;
}

#copyrightInfo p {
  margin-top: 30px;
}

.onlyInSmall {
  display: none;
}

@media screen and (max-width: 640px) {
  #signUp, #footerSocialMedia, #footerNav {
    max-width: 80%;
    margin-left: 10%;
    padding-top: 20px;
  }
  #signUp {
    padding-top: 40px;
  }
  #mainFooter .max-width {
    display: block;
  }
  .hideInSmall {
    display: none;
  }
  .onlyInSmall {
    display: block;
  }
  .homeSection .max-width {
    display: block;
  }
  .homeSection .max-width .trending {
    width: 100%;
  }
  .homeSection .max-width .specialTrending {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .homeSection .max-width .specialTrending .video {
    width: 100%;
    height: auto;
  }
  .bigTrending {
    padding-top: 60%;
  }
  .bigTrending .info p {
    font-size: 16px;
  }
  .homeSection .max-width .trending .squareTrending {
    padding-top: 50%;
    margin-right: 0;
    width: 100%;
  }
  .homeSection .max-width .trending .squareTrending img {
    width: 60%;
  }
  .homeSection .max-width .trending .squareTrending .info {
    top: 0;
    width: 40%;
    left: calc(60% - 30px);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  .homeSection .max-width .trending .squareTrending .info .tag {
    text-align: left;
    width: calc(100% - 30px);
    margin-left: 30px;
    font-size: 1em;
  }
  .homeSection .max-width .trending .squareTrending .info p {
    width: 100%;
    margin-top: 0px;
    font-size: 16px;
    background: #ffffff;
  }
  .homeSection .max-width .trending .squareTrending .info .details {
    display: none;
  }
  .homeSection .max-width .trending .squareTrending:nth-child(odd) {
    margin-right: 0;
    width: 100%;
  }
  .categoryRow .blogsContent {
    display: block;
  }
  .categoryRow .blogsContent .blogItem {
    width: 100%;
    padding-top: 40px;
    position: relative;
    min-height: 40vw;
  }
  .categoryRow .blogsContent .blogItem div {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
  }
  .categoryRow .blogsContent .blogItem div img {
    width: 40%;
  }
  .categoryRow .blogsContent .blogItem p {
    width: calc(70% - 30px);
    margin-left: 30%;
    font-size: 18px;
    font-weight: 200px;
    padding: 15px;
    z-index: 2;
  }
  .categoryRow .blogsContent .blogItem[data-reading] div::after {
    position: absolute;
    width: 60%;
    padding: 10px;
    margin-left: 40%;
    font-size: 16px;
    text-align: left;
    background-color: #fff32b;
  }
}

@media screen and (max-width: 380px) {
  #mainHeader #logo {
    height: 20px;
    top: 10px;
  }
  .homeSection .max-width .trending .squareTrending img {
    width: 50%;
  }
  .homeSection .max-width .trending .squareTrending .info {
    width: 50%;
    left: calc(50% - 30px);
  }
  .homeSection .max-width .trending .squareTrending .info .tag {
    font-size: .8em;
  }
  .homeSection .max-width .trending .squareTrending .info p {
    font-size: 14px;
  }
  .categoryRow .blogsContent .blogItem p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */